<div id="admin_index">
  <h2>Admin Page</h2>
  ...........
  <div id="links">
    <ul>
      <li><%=link_to 'Categories', :controller => :categories %></li>
      <li><%=link_to 'Crawlers', :controller => :crawlers %></li>
    </ul>
  <div>

</div>
