<style type="text/css">
  #crawlers_proxy { text-align: center; }
  #crawlers_proxy img { margin: 50px 0 0 0; }
</style>
<div id="crawlers_proxy">
  <%= image_tag "/images/gear.png", :size => '200x200' %>
</div>
