<h1>Listing campaigns</h1>

<table>
  <tr>
  </tr>

<% for campaigns in @campaigns %>
  <tr>
    <td><%= link_to 'Show', campaigns %></td>
    <td><%= link_to 'Edit', edit_campaigns_path(campaigns) %></td>
    <td><%= link_to 'Destroy', campaigns, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New campaigns', new_campaigns_path %>
